/* -------------------------Colour */
.ui-menu-color-home {
    background-color: black;
}

.ui-menu-color-ps4 {
    background-color: rgb(0, 48, 135)
}

.ui-menu-color-xbox {
    background-color: #5dc21e;
}

/* -------------------------Nav */

#nav {
    text-transform: uppercase;
}



/* -------------------------Images */
.ps4 {
    background: url("../images/PS4-Console-wDS4.png");
    background-position: center;
    background-repeat: no-repeat;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.xbox {
   background: url("../images/Microsoft-Xbox-One-Console-wKinect.png");
    background-position: center;
    background-repeat: no-repeat;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}